@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

.svg {
  width: 2rem;
  height: 2rem;
}
@media only screen and (min-width: 1300px) {
  .container {
    display: flex;
  }
}
.header {
  background-color: grey;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;

  padding: 3rem;
  font-size: 4rem;
  gap: 2rem;
  &__title span {
    font-size: 2rem;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  &__search {
    flex-grow: 1;
    display: flex;
    align-items: center;

    &__icon {
      background-color: transparent;
      padding: 0.2rem 0.5rem;
      display: flex;
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
    }

    &-input {
      min-width: 300px;
      font-size: 1.5rem;
      padding-left: 0.8rem;
      height: 100%;
    }
  }

  &__basket {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    gap: 1rem;

    &__icon {
      width: 2rem;
      height: 2rem;
    }
  }
}

.header__search::after {
  content: "";
  width: 6rem;
  height: 0.5rem;
  // position: absolute;
  background-color: red;
  transform: rotate(90deg);
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
  font-size: 4rem;
  gap: 2rem;

  &__title {
    font-size: 4.5rem;
    letter-spacing: 0.1rem;
  }

  &__items {
    display: flex;
    gap: 2rem;
  }

  &__items button {
    font-size: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 15px;
    background: none;
    transition: all 0.3s ease-in-out;
  }

  &__items button:hover {
    color: white;
    background-color: #4bb39a;
    cursor: pointer;
  }

  &__items button.active {
    color: white;
    background-color: #4bb39a;
    cursor: pointer;
  }
}
@media only screen and (min-width: 1300px) {
  .categories__items {
    flex-direction: column;
    align-self: flex-start;
    // padding: 8rem;
    margin-left: 4rem;
    // border-right: 1px solid black;
  }
  .categories__items button {
    border: none;
  }
  .categories {
    min-width: 45rem;
    display: flex;
    // margin-left: 2rem;

    &__title {
      font-size: 2.6rem;
      background-color: green;
    }
  }
}
.products {
  display: flex;
  gap: 1rem;
  margin: 5rem 10rem 0 10rem;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  width: 300px;
  display: flex;

  flex-direction: column;
  gap: 1rem;
  align-items: center;
  // border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.3s;

  &__name {
    font-size: 2.5rem;
  }

  &__price {
    font-size: 2rem;
    font-weight: 600;
  }

  &__button .add-to-basket {
    font-size: 1.8rem;
    border-radius: 15px;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
}
.product img {
  width: 15rem;
  height: 20rem;
  object-fit: contain;
}

.product:hover {
  transform: translateY(-8px);
}
