@import "./abstracts/animations";
@import "./abstracts/variables";
@import "./base/base";

@import "./layout/header";
@import "./layout/footer";
@import "./layout/product";
@import "./pages/sections";

@media only screen and (min-width: 1300px) {
  .container {
    display: flex;
    // flex-direction: column;
    margin: 2rem 10rem;
  }
}

@media only screen and (min-width: 1300px) {
  .categories__items {
    flex-direction: column;
    align-self: flex-start;
    // padding: 8rem;
    margin-left: 4rem;

    // border-right: 1px solid black;
  }
  .categories__items button {
    border: none;
  }
  .categories {
    min-width: 45rem;
    display: flex;
    // margin-left: 2rem;

    &__title {
      font-size: 2.6rem;

      & > span {
        color: $colorPrimary;
        font-size: 3.2rem;
        text-transform: uppercase;
      }
    }
  }
  .products {
    display: flex;
    position: relative;
    flex: 2;
    gap: 1.5rem;
    margin: 3rem 7rem 0 7rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}
