.categories {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  font-size: 4rem;
  gap: 2rem;

  &__title {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;

    & > span {
      color: $colorPrimary;
      font-size: 3.2rem;
      text-transform: uppercase;
    }
  }

  &__items {
    display: flex;
    gap: 2rem;
  }

  &__items button {
    font-size: 1.7rem;
    padding: 0.6rem 1.7rem;
    border-radius: $borderRadius;
    background: #edf2f4;
    transition: all 0.3s ease-in-out;
    border: none;
    outline: none;
  }
  &__items button:first-child {
    font-size: 2.1rem;
    font-weight: bold;
    padding: 0.8rem 1.9rem;
  }

  &__items button:hover {
    color: white;
    background-color: #ef233c;
    cursor: pointer;
  }

  &__items button.active {
    color: white;
    background-color: #4bb39a;
    cursor: pointer;
  }
}
@media only screen and (max-width: 39rem) {
  .categories {
    &__title {
      font-size: 2.5rem;
      letter-spacing: 0.1rem;

      & > span {
        color: $colorPrimary;
        font-size: 2.2rem;
        text-transform: uppercase;
      }
    }
    &__items {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 1rem;
      flex-wrap: wrap;
    }
    &__items button {
      font-size: 1.4rem;
      padding: 0.6rem 1.4rem;
      border-radius: $borderRadius;
      background: #edf2f4;
      transition: all 0.3s ease-in-out;
      border: none;
      outline: none;
    }
    &__items button:first-child {
      font-size: 1.4rem;
      font-weight: bold;
      padding: 0.6rem 1.4rem;
    }
  }
}

//PRODUCTS

.products {
  display: flex;
  position: relative;
  flex: 2;
  gap: 1.5rem;
  margin: 3rem 7rem 5rem 7rem;
  flex-wrap: wrap;
  justify-content: center;
}

.price {
  &__range {
    appearance: none;
    transition: 0.2s;
    outline: none;
    border-radius: 15px;
    background-color: $colorPrimary;
  }
}

.pagination {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  // margin-bottom: 12rem;
  // width: auto;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__text {
    font-size: 2rem;
  }

  &__button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: $borderRadius;
    background: #edf2f4;
    transition: all 0.3s ease-in-out;
    border: none;
    outline: none;
    width: 4rem;
    color: white;
  }
  &__button:hover {
    background-color: #ef233c;
    cursor: pointer;
  }
}

@media only screen and (max-width: 39rem) {
  .pagination {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    margin-bottom: 15rem;
  }
}

// @media only screen and (min-width: 1300px) {
//   .container {
//     display: flex;
//     margin: 2rem 10rem;
//   }
// }
